body {
    font-family: "Varela Round", arial, sans-serif;
    color: #45494d;
    }
a {
    text-decoration: none;
}
a:hover {
    color: #0ebfdd; 
}
/* Header */
.header{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 60px; 
    flex:1;
}

/* Social Media Top */
.socialmedia{
    margin-right: 60px; 

}
.socialmedia ul{
    text-align:center;
    display: flex;
    flex-direction: row;
    }
.socialmedia .fab {
    color: white;
    background:#1380c5;
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fab:hover {
    opacity: 0.7;
}
.socialmedia .far {
    color: white; background:#1380c5; padding: 10px; font-size: 20px; width: 20px; text-align: center; text-decoration: none; margin: 5px 2px; border-radius: 50%;
  }
.far:hover {
    opacity: 0.7;
}
/* ManuBar */
.menu{
    
    background: #08439a;
    color: white;
    font-size: 16pt;
    
  }
.menu ul{
    display:-webkit-box;
    margin-left: 60px;
    margin-right: 60px;
    padding:15px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    }


.menu ul li a{
    color: white;
}
.menu ul li a:hover{
    opacity: 0.7;
}
/* Banner */
.banner{
    color: white;
    background-image: url(../images/boat7.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 600px;
 }

 .banner-text{
    margin-left: 90px;
    padding-top:100px;
     font-size: 30px;
     font-weight: bold;
     text-shadow: 2px 2px black;
 }

 .banner-text-item{
    margin-left: 90px;
    padding-top: 30px;
    width: 40%;
    font-size: 20px;
    color: #08439a;
 }

 .bannerbutton{
    margin-left: 90px;
    padding-top: 60px;
 }
 
 .bannerbutton a{
    width: 140px;
    height: 45px;
        text-decoration: none; 
    color:  #fff;
    background-color:#08439a;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    padding:15px 25px 15px 25px;
 }

 .bannerbutton a:hover {
    background-color: #ffbd29;
    color: #08439a;
    font-weight: bold;
}
/* About Us */
.about{
    background-color: #08439a;
    color:#fff;  
    padding: 40px 70px 40px 70px;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
}

#about1{
    flex:1px;
    float: 1px;
    padding: 2%;
    
}

.about-text{
    padding-top: 50px;
}
.about-text h1{
    font-size:18pt;
    padding: 0 0 20px 0;
    font-weight: bold;
}
.about-text p{
    padding-top:18px;
    text-align:justify;
}

.aboutimage img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    border-radius: 5px;
   
}


/* Testimonials */
.wrapper{
    background-color: #d7e1ef;
    width: 100%;
 }

.slider-testimonial{
	width: 85%;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 80px;
    padding-right:40px;
    
}
.testititle{
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 70px;
    font-size:18pt;
    font-weight: bold;
    color: #08439a;
}

.testiphoto figure img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: 44%;
    margin-bottom: 20px;
   
}
.testiphoto figcaption{
    font-family: "Open sans";
    font-weight: 600;
    color: #08439a;
}
.testimonial-text{
    padding: 10px 120px;
}
.testimonial-text i {
    font-size: 15px;
    margin: 0 20px;
    vertical-align: text-top;
}
.testimonial-text p{
	font-family: "Varela Round", arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
    color: #454545;
    padding-bottom: 40px;
    
}

/* BottomBar */
.bottommenu{
    display:flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:20px;
}

.bottomleft  p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
}
.bottomleft a{
    text-decoration: none;
}

.bottomcenter h3{
    font-size: 12pt;
    color:#08439a;
    font-weight: bold;
    padding:10px;
}

.bottomcenter ul{
    padding-left:10px;
}
.bottomcenter li{
    padding-bottom: 5px;
}
.bottomcenter li a{
    color: black;
}
.bottomcenter li a:hover{
    color: #1380c5;
    font-weight: bold;
}
.bottomright h3{
    font-size: 12pt;
    color:#08439a;
    font-weight: bold;
    padding:10px;  
}
.bottomright p{
    padding: 10px;
}
.newsletter-submit{
    padding-left:10px;

   }

.newsletter-submit input[type="email"]{
    border-radius:5px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 10px;

}

.newsletter-submit button{
    background-color: #ffbd29;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    border-radius: 5px;
    color:#272424;
    cursor: pointer;
}


/* Footer */
.footer{
    background: #08439a;
    color: #d7e1ef;
}
.footer p{
    text-align: center;
    font-size: 10pt;
    padding: 20px;
}

/* --------------CONTACT US---------*/
.contactarea{
    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height:100%;
    padding-bottom: 30px;
}
.contacttitle{
    text-align: center;
    font-size:25pt;
    font-weight: bold;
    padding-top:60px;
    padding-bottom: 60px;
    color: #FFF;
    text-shadow: 1px 1px #1380c5;
}
.container{
    display: flex;
    border:1px solid #c1c1c2;
    margin: 20px;
    background-color: white;
    justify-content: center;
    padding: 30px;
    box-shadow: -10px 10px #08439a;
    max-width: 900px;
    margin: 0px auto 100px auto;
    position: relative;
}

#touch, #findus{
    font-size: 15pt;
    font-weight: bold;
    padding-bottom:10px; 
}
#touchtext, #address{
    padding:10px 10px 20px 0;
    width: 80%;
}

#userform input[type="text"],
#userform input[type="email"],
#userform input[type="tel"],
#userform textarea,
#userform button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  width: 80%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}


#userform input[type="text"]:hover,
#userform input[type="email"]:hover,
#userform input[type="tel"]:hover,
#userform textarea:hover,
#userform button[type="submit"]:hover {
    border: 1px solid #aaa;
    font-size: 12pt;
}

#userform button[type="submit"] {
    cursor: pointer;
    width: 84%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;   
}
#userform button[type="submit"]:hover {
    background: #43A047;
}
#userform p{
    color:#1380c5;
    font-size: 12pt;
    font-weight: bold;
}
#userform input[type="checkbox"]{
    margin-left: 30px;
}


/* --------------SALES---------*/
.wrapperSales{
    margin:50px;
}
.search{
    background-color: #ccc;
    padding: 20px 10px 20px 10px;
    
}
.search p{
    color:#08439a;
    padding:10px ;
    font-size: 20px;
    font-weight: bold;
}
.search form ul{
    display: flex;
    flex-direction: row;
}
.search button[class="btn"]{
    padding: 10px 20px;
    background-color:white;
    font-size: 12pt;

}
.search button[class="btn"]:hover{
    background-color:#17bbd8;
}

.search button[type="submit"]{
    background-color: #1380c5;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    width:50%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
   }
.search button[type="submit"]:hover{
    background-color: #43A047;
    color: white;
}
.search input[type="number"]{
    padding: 10px;
}
.results h1{
    font-size: 20pt;
    padding-bottom:20px;
    padding-top:20px;
}
.rinfo{
    cursor: pointer;
    padding: 5px;
}


.gallery{
    display:flex;
    flex-wrap:wrap;
    margin: -1rem -1rem;
}
.boatsphoto{
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.boatsphoto img{
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: transform 400s ease-out;
}

.photodescription{
    text-align: left;
    padding: 10px;
}
.photodescription #name{
    font-weight: bold;
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery, .gallery-item {
		margin: 0;
	}
}


/* --------RENTALS-------------*/
.rentals h1{
    font-size: 20pt;
    text-align: center;
    padding-top:80px;
    font-weight: bold;
}
.rentals p{
    text-align:center;
    font-size: 16pt;
}
.rentals img{
    padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}